<h3>Enter your application details:</h3>
<form action="/applications" method="post">
  <fieldset>
    <div>
    <label for="date-applied">Date Applied:</label>
    <input type="date" id="date-applied" name="date-applied">
    </div>
    
    <div>
      <label for="company">Company:</label>
      <input type="text" id="company" name="company" required>
    </div>
    
    <div>
      <label for="position">Position:</label>
      <input type="text" id="position" name="position" required>
    </div>
    
    <div>
      <label for="url">Link to Job Description:</label>
      <input type="url" id="url" name="url" placeholder="https://example.com">
    </div>
    
    <div>
      <label for="status">Status:</label>
      <select id="status" name="status" > 
        <option value="applied">Applied</option>
        <option value="interviewing">Interviewing</option>
        <option value="offered">Offered</option>
        <option value="no">No</option>
      </select>
    </div>
    
    <button type="submit">Submit</button>
    <a href="/applications">Cancel</a>
  </fieldset>
</form>